esphome:
  name: test
  friendly_name: test

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:
  level: VERBOSE

# Enable Home Assistant API
api:
  encryption:
    key: "woEwhhYP0YUh+Ylo+nuqrvbIgj5xBve2Dfr4E7YTmU0="

ota:
  - platform: esphome
    password: "96082af7d8a9662fd4ee72603d63fecb"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Test Fallback Hotspot"
    password: "LI5uj3U6nb90"

globals:
  - id: ph4_voltage
    type: float
    restore_value: yes
    initial_value: "1268.0"

  - id: ph7_voltage
    type: float
    restore_value: yes
    initial_value: "1650.0"

  - id: ph10_voltage
    type: float
    restore_value: yes
    initial_value: "2032.0"

  - id: water_temp
    type: float
    initial_value: "25.0"

mqtt:
  broker: !secret mqtt_broker_ip_address

sensor:
  - platform: adc
    id: ph_voltage
    name: "pH Raw Voltage"
    pin: GPIO2
    attenuation: auto
    update_interval: 200ms
    filters:
      - multiply: 1000.0 # to mV
      - median:
          window_size: 9
          send_every: 1
          send_first_at: 1
      - exponential_moving_average:
          alpha: 0.1
          send_every: 1

  - platform: template
    id: ph
    name: "pH"
    unit_of_measurement: "pH"
    accuracy_decimals: 2
    update_interval: 10s
    lambda: |-
      constexpr float KELVIN_OFFSET = 273.15f;
      constexpr float NERNST_REF_TEMP = 25.0f;
      float voltage = id(ph_voltage).state;   
      float ph4_voltage  = id(ph4_voltage);   
      float ph7_voltage  = id(ph7_voltage);    
      float ph10_voltage = id(ph10_voltage);    
      float temp = 25.0f;

      if (id(water_temp).has_state()) // Ensure temp has value
        temp = id(water_temp).state;

      float temp_factor =
        (temp + KELVIN_OFFSET) / (NERNST_REF_TEMP + KELVIN_OFFSET);

      float slope;
      if (voltage< ph7_voltage) {
        // Acidic side: slope between pH4–7
        slope = (ph7_voltage - ph4_voltage) / (7.0f - 4.0f);
      } else {
        // Alkaline side: slope between pH7–10
        slope = (ph10_voltage - ph7_voltage) / (10.0f - 7.0f);
      }

      slope *= temp_factor;
      float ph = 7.0f + (voltage- ph7_voltage) / slope;

      if (ph < 0.0f) ph = 0.0f;
      if (ph > 14.0f) ph = 14.0f;
      return ph;
    state_class: measurement
    state_topic: "tower/1/sensor/ph"
