esphome:
  name: tower
  friendly_name: tower

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "T4LeMNpwnkjDXfeiLKw05tPJwd0Npef4LsLY/4LcFfY="

ota:
  - platform: esphome
    password: "a9fa30ad806331226649b9b6b50e8602"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Tower Fallback Hotspot"
    password: "lM7j3bhh7sq0"

mqtt:
  broker: !secret mqtt_broker_ip_address

sensor:
  - platform: dallas_temp
    address: 0x6e00000ff96afe28 # GPIO4
    name: "Temperature"
    id: tower_temp
    update_interval: 10s
    state_class: measurement
    state_topic: "tower/1/sensor/temp-tower"

  - platform: pulse_counter
    name: "Humidity"
    id: humidity
    pin:
      number: GPIO2
      mode:
        input: true
    count_mode:
      rising_edge: INCREMENT
      falling_edge: DISABLE
    update_interval: 10s
    unit_of_measurement: "Hz"
    accuracy_decimals: 2
    filters:
      - multiply: 0.0166667 # Convert to Hz: 1/60.
    state_class: measurement
    state_topic: "tower/1/sensor/humidity"

one_wire:
  - platform: gpio
    pin: GPIO4
