esphome:
  name: tower
  friendly_name: tower

packages:
  - !include common.yaml
  - !include pins.yaml

api:
  encryption:
    key: "T4LeMNpwnkjDXfeiLKw05tPJwd0Npef4LsLY/4LcFfY="

ota:
  - platform: esphome
    password: "a9fa30ad806331226649b9b6b50e8602"

globals:
  - id: calibrated_humidity_10
    type: float
    restore_value: yes
    initial_value: "7155" # Example, add real calibrated values

  - id: calibrated_humidity_90
    type: float
    restore_value: yes
    initial_value: "5200" # Example, add real calibrated values

sensor:
  - platform: dallas_temp
    address: 0x7e0000106f420d28 # GPIO4
    name: "Temperature"
    id: tower_temp
    update_interval: 10s
    state_class: measurement
    state_topic: "tower/1/sensor/temp-tower"

  - platform: pulse_counter
    name: "Pulse counter humidity"
    id: humidity_freq
    pin:
      number: ${humidity_pin}
      mode:
        input: true
    count_mode:
      rising_edge: INCREMENT
      falling_edge: DISABLE
    update_interval: 1s
    unit_of_measurement: "Hz"
    accuracy_decimals: 2
    filters:
      - multiply: 0.0166667 # Convert to Hz: 1/60.
    internal: true

  - platform: template
    id: humidity
    name: "Humidity"
    unit_of_measurement: "%"
    accuracy_decimals: 1
    update_interval: 10s
    lambda: |-
      if (!id(humidity_freq).has_state()) return NAN;
      float freq = id(humidity_freq).state;
      float freq_90 = id(calibrated_humidity_90);
      float freq_10 = id(calibrated_humidity_10);

      float k = (90 - 10) / (freq_90 - freq_10);
      float m = 10 - (k * freq_10);
      float humidity = k * freq + m; 

      if (humidity < 0) humidity = 0;
      if (humidity > 100) humidity = 100;
      return humidity;
    state_class: measurement
    state_topic: "tower/1/sensor/humidity"

one_wire:
  - platform: gpio
    pin: ${tower_temp_pin}
