esphome:
  name: water
  friendly_name: water

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "wdyJ//Lkrup6TGZeSpISo7hSS+eMIjaa+ps3NeLGnKA="

ota:
  - platform: esphome
    password: "4a1d7c64dc75b03445cd863d9cef6672"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Water Fallback Hotspot"
    password: "nmP5a0yeWf6U"

captive_portal:

mqtt:
  broker: !secret mqtt_broker_ip_address
   
sensor:
  - platform: ultrasonic
    trigger_pin: GPIO1
    echo_pin: GPIO2
    name: "Ultrasonic Sensor"
    update_interval: 10s
    state_class: measurement
    state_topic: "tower/1/sensor/water-level"

  - platform: dallas_temp
    address: 0x6e00000ff96afe28
    name: "Lower temperature"
    update_interval: 10s
    state_class: measurement
    state_topic: "tower/1/sensor/temp-lower"

one_wire:
  - platform: gpio
    pin: GPIO4